<%- include("./Nav")-%>
    <style>

    </style>
    <h2 class="my-1 mx-1 text-center text-success "><strong>Preview</strong></h2>
    <div class="submit_container border border-dark ">
        <div class="d-flex flex-row text-center">
            <img src="/isl_logo.jpg" alt="" height="100px" width="70px" class="my-2">
            <h2 class=" ">INDIAN SCHOOL OF LEARNING (BHAGABANDH)</h2>
        </div>
        <h3 class="text-center"> New Admission</h3>
        <div class="table-responsive mt-2">
            <table class="table table-bordered border-dark css-border-spacing">
                <tr>
                    <th colspan="3" class="text-center fs-5">
                        Current School detial
                    </th>
                </tr>
                <tr>
                    <td>
                        Your application number:<strong>
                            <%=data.Application_no%>
                        </strong>
                    </td>
                    <td>
                        Form number:<strong>
                            <%=data.Form%>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>Student Signature:-</td>
                    <td> <img src="http://localhost:3005/<%=data.image1%>.jpg"
                            class="rounded new_admission_image1 img-thumbnail">
                    </td>
                </tr>
                <tr>
                    <td>
                        Student Name:
                        <strong>
                            <%=data.First_name %>
                                <%= data.Lastname %>
                        </strong>
                    </td>
                    <td rowspan="4">
                        <img src="/<%=data.image%>.jpg" class="rounded new_admission_image img-thumbnail">

                    </td>
                </tr>

                <tr>
                    <td>
                        Gender:
                        <% if (data.Gender.male=="on" ) { %>
                            <strong>Male</strong>
                            <% } else { %>
                                <strong>Female</strong>
                                <% } %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Class:
                        <strong>
                            <%= data.class %>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        Date:
                        <strong>
                            <%=data.date %>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>

                        Father Name:</h3>
                        <strong>
                            <%= data.Father_name %>
                        </strong>
                    </td>
                    <td>
                        Mother Name:
                        <strong>
                            <%= data.Mother_name %>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        Guardian Name:
                        <strong>
                            <%= data.Guardian_name %>
                        </strong>
                    </td>
                    <td>
                        Aadhar Card:
                        <strong>
                            <%= data.Adhaar_number %>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>

                        Address:
                        <strong>
                            <%= data.Address %>
                        </strong>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Address2:
                        <strong>
                            <%= data.Address2 %>
                        </strong>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        City:
                        <strong>
                            <%=data.City %>
                        </strong>
                    </td>
                    <td>
                        State:
                        <strong>
                            <%= data.State %>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        Zip_code:
                        <strong>
                            <%= data.Zip_code %>
                        </strong>
                    </td>
                    <td>
                        Phone:
                        <strong>
                            <%= data.Phone %>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        email:
                        <strong>
                            <%= data.email %>
                        </strong>
                    </td>
                    <td>
                        Age:
                        <strong>
                            <%= data.Age %>
                        </strong>
                    </td>

                </tr>
                <% if (data.Previes_value.Previes_yes) { %>
                    <tr>
                        <th colspan="3" class="text-center fs-4">
                            Previes School Information
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <%=data.Previes_School_Name %>
                        </td>
                        <td>
                            <%=data.Previes_School_Class %>
                        </td>
                    </tr>
                    <% } else { %>
                        <tr>
                            <td>
                                No previes data ...
                            </td>
                        </tr>
                        <% } %>
            </table>
        </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto mt-3">
        <a href="/Edit_submit_new_addmission" type="submit" class="btn btn-danger"><strong>Edit</strong></a>
        <a type="submit" class="btn btn-success " id="pdf_generate"><strong>Next</strong></a>
    </div>

    <%- include("./footer")-%>

        <script>
            let pdf_generate = document.getElementById('pdf_generate');
            if (`<%=data._id%>` == '') {
                pdf_generate.setAttribute('href', `/pdf_generate/<%=data._v%>`)
            } else {
                pdf_generate.setAttribute('href', `/pdf_generate/<%=data._id%>`)
            }
        </script>