<%- include("./Nav")-%>
<style>
    td,th{
        padding: 20px !important;
        font-size: larger;
    }
</style>
    <div class="submit_container border border-dark my-3">
        <div class="d-flex flex-row text-center">
            <img src="isl_logo.jpg" alt="" height="100px" width="70px" class="my-2">
            <p class=" display-5">INDIAN SCHOOL OF LEARNING (BHAGABANDH)</p>
        </div>
        <h2 class="text-center"> New Admission</h2>
        <div class="table-responsive mt-5">
            <table class="table table-bordered border-dark css-border-spacing">
                    <tr>
                        <th colspan="3" class="text-center fs-4">
                            Current School detial
                        </th>
                    </tr>
                <tr>
                    <td>
                        Your application number:<strong>
                            <%=data.user_data[0].Application_no%>
                        </strong>
                    </td>
                    <td>
                        Form number:<strong>
                            <%=data.user_data[0].Form%>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>Student Signature:-</td>
                    <td> <img src="<%=data.user_data[0].image1%>.jpg"
                            class="rounded new_admission_image1 img-thumbnail">
                    </td>
                </tr>
                <tr>
                    <td>
                        Student Name:
                        <strong>
                            <%= data.user_data[0].First_name %>
                                <%= data.user_data[0].Lastname %>
                        </strong>
                    </td>

                    <td rowspan="4">
                        <img src="<%=data.user_data[0].image%>.jpg" class="rounded new_admission_image img-thumbnail">

                    </td>
                </tr>

                <tr>
                    <td>

                        Gender:
                        <% if (data.user_data[0].Gender.male=="on" ) { %>
                            <strong>Male</strong>
                            <% } else { %>
                                <strong>Female</strong>
                                <% } %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Class:
                        <strong>
                            <%= data.user_data[0].class %>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        Date:
                        <strong>
                            <%= data.user_data[0].date %>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>

                        Father Name:</h3>
                        <strong>
                            <%= data.user_data[0].Father_name %>
                        </strong>
                    </td>
                    <td>
                        Mother Name:
                        <strong>
                            <%= data.user_data[0].Mother_name %>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        Guardian Name:
                        <strong>
                            <%= data.user_data[0].Guardian_name %>
                        </strong>
                    </td>
                    <td>
                        Aadhar Card:
                        <strong>
                            <%= data.user_data[0].Adhaar_number %>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>

                        Address:
                        <strong>
                            <%= data.user_data[0].Address %>
                        </strong>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Address2:
                        <strong>
                            <%= data.user_data[0].Address2 %>
                        </strong>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        City:
                        <strong>
                            <%= data.user_data[0].City %>
                        </strong>
                    </td>
                    <td>
                        State:
                        <strong>
                            <%= data.user_data[0].State %>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        Zip_code:
                        <strong>
                            <%= data.user_data[0].Zip_code %>
                        </strong>
                    </td>
                    <td>
                        Phone:
                        <strong>
                            <%= data.user_data[0].Phone %>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        email:
                        <strong>
                            <%= data.user_data[0].email %>
                        </strong>
                    </td>
                    <td></td>
                </tr>
                <% if (data.user_data[0].Previes_value.Previes_yes) { %>
                    <tr>
                        <th colspan="3" class="text-center fs-4">
                            Previes School Information
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <%=data.user_data[0].Previes_School_Name %>
                        </td>
                        <td>
                            <%=data.user_data[0].Previes_School_Class %>
                        </td>
                    </tr>
                    <% } else { %>
<tr>
    <td>
        No previes data ...
    </td>
</tr>
                        <% } %>
            </table>
        </div>
    </div>
    <%- include("./footer")-%>